body{
    width: 100%;
    height: 100%;
    color :#ecf0f1;
    background-image:url(https://source.unsplash.com/category/sky/1600x900);
    background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 100vh;
   display: flex; 
   justify-content: center; 
   align-items: center;
}
h1{
    color:#bdc3c7;
    transition: color 0.5s ease-in-out;
}
.js-form,
.js-greetings{
    display: none;
}
.showing{
    display: block;
    color: #ecf0f1;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.bgImage{
    position: absolute;
    top :0;
    left :0;
    width: 100%;
    height: auto;
    z-index: -1;
    animation: fadeIn .5s linear;
}
