body{
    background-image:url(https://source.unsplash.com/collection/1198107/1600x900);
    background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 100vh;
   display: flex; 
   justify-content: center; 
   align-items: center;
}
/*clock*/
h1{
    color : #F8F8FF;
    transition: color 0.5s ease-in-out;
    justify-content: center; 
    align-items: center;
}

.js-form,
.js-greetings{
    display: none;
    position: absolute;
    top:200px;
}
.js-toDoForm{
    position: absolute;
    top:330px;
}
.js-toDoList{
    position: absolute;
    top:  350px;
    left : 500px;
}
.showing{
    display: block;
    color: #F8F8FF;
}
.js-weather{
    position:absolute;
    left:1000px;
    top: 580px;
    color: #F8F8FF;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}